.countDown {
  height: 150px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 25px;
  padding: 10px;
  background-color: var(--box-color-primary);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  grid-area: countdown;
}

.icon {
  width: 40px;
}

.pauseButton {
  background: none;
  border: none;
  img {
    width: 40px;
  }
}

.startButton {
  background: none;
  border: none;
  img {
    width: 40px;
  }
}

.restartButton {
  background: none;
  border: none;
  img {
    width: 40px;
  }
}
