.form {
  position: absolute;
  right: 10px;
  top: 10px;
}

.label {
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
  font-weight: 400;
}

.timerSetter {
  background: none;
  border: none;
  border-bottom: 1px solid black;
}
